.comparison-history-sidebar {
    width: 300px;
    background: #f4f4f4;
    padding: 10px;
  }

  .comparison-header {
    text-align: center;          
    font-weight: 500;           
    font-size: 1.25rem;         
    margin-bottom: 20px;         
  }
  
  .comparison-item-box {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .comparison-title {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
    margin-top: 5px;
    font-size: 0.875rem;
  }
  
  .comparison-urls a {
    color: #007bff;
    text-decoration: none;
  }
  
  .comparison-urls a:hover {
    text-decoration: underline;
  }

  .comparison-urls .product-links-container {
    display: flex;
    align-items: center; 
    gap: 5px; 
  }
  
  .product-link {
    margin: 0; 
  }

  .product-link a {
    font-size: 0.875rem; 
    color: #0073e6; 
    text-decoration: none; 
  }
  
  .product-link a:hover {
    text-decoration: underline;
  }
  
  
  .delete-button {
    position: absolute;  
    bottom: 5px;           
    right: 5px;         
    background-color: #ff4d4f; 
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 6px;    
    font-size: 0.75rem;  
    border-radius: 3px;
  }
  