.footer {
  margin-top: 120px;
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.inner {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center-align text within the container */
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}